<%- include("partials/header") %>
<div class="container">
    <div class="row  justify-content-center">
        <p> hi hihihihih</p>
    </div>
    <a href="/teacher">Teacher</a>
    <a href="/student">student </a>
</div>
<%- include("partials/footer") %>