<%- include("partials/header") %>
<div class="container">
    <div class="row d-flex justify-content-center">
        <p>I am an excellent student</p>
    </div>
</div>
<%- include("partials/footer") %>